.entry-content{
    #customer_login{
        .woocommerce-form-login, .woocommerce-form-register{
            p{
                input{
                    background-color: white;
                }
                a{
                    color: var(--mainRed);
                }
            }
        }
    }
    .woocommerce-MyAccount-navigation{
        .woocommerce-MyAccount-navigation-link--downloads{
            display:none;
        }
        .woocommerce-MyAccount-navigation-link{
            a{
                color: var(--mainGrey);
                &:hover{
                    color: var(--mainBlue);
                }
            }
            &.is-active{
                a{
                    color: var(--mainBlue);
                    font-weight: bold;
                }
            }
        }
    }
    .woocommerce-MyAccount-content{
        p{
            a{
            color: var(--mainRed);
            }
        }
        .woocommerce-message--info{
            background-color: var(--mainBlue);
            .button{
                &:hover{
                    background-color: transparent !important;
                }
            }
        }
        .woocommerce-MyAccount-orders{
            a{
                color: var(--mainRed);
            }
        }
        .woocommerce-order-details{
            a{
                color: var(--mainRed);
            }
        }
        .woocommerce-Addresses{
            a{
                color: var(--mainRed);
            }
        }
        .woocommerce-EditAccountForm{
            input{
                background-color: white;;
            }
        }
    }
}