.entry-content{
    p.cart-empty{
        background-color: var(--mainBlue);
        color: white !important;
    }
    .return-to-shop{
        // .button{
        //     background-color: var(--mainBlue);
        //     color: white;
        //     border-radius: 0;
        //     &:hover{
        //         background-color: var(--mainRed);
        //     }
        //     &:active{
        //         box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
        //     }
        // }
    }
    .woocommerce-cart-form{
        .shop_table{
            tbody{
                .woocommerce-cart-form__cart-item{
                    .product-name{
                        a{
                            color: var(--mainRed);
                        }
                    }
                }
                tr{
                    // .button{
                    //     background-color: var(--mainBlue);
                    //     color: white;
                    //     border-radius: 0;
                    //     &:hover{
                    //         background-color: var(--mainRed);
                    //     }
                    //     &:active{
                    //         box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
                    //     }
                    // }
                    #coupon_code{
                        background-color: white;
                    }
                }
            }
        }
    }
    .cart-collaterals{
        .cart_totals{
            .shop_table{
                .woocommerce-shipping-totals{
                    .woocommerce-shipping-calculator{
                        a{
                            color: var(--mainRed);
                        }
                        input{
                            background-color: white;
                        }
                    }
                }
            }
            .wc-proceed-to-checkout{
                a{
                    background-color: var(--mainBlue);
                    color: white;
                    border-radius: 0;
                    &:hover{
                        background-color: var(--mainRed);
                    }
                    &:active{
                        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }
}