.storefront-breadcrumb{
    color: var(--mainRed);
    text-transform: uppercase;
    font-size: 1.2rem;
    .woocommerce-breadcrumb{
        a{
            color: var(--mainBlue);
            text-decoration: none;
            &::before{
                color: var(--mainRed);
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.col-full{
    padding: 0 !important;
    max-width: 70rem !important;
    #main{
        margin-bottom: 0;
        >.col-full{
            margin: 0;
        }
        h1{
            color: var(--mainRed);
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
            font-size: 2.3rem;
            sup{
                text-transform:lowercase;
            }
        }
        .entry-content{
            width: 100vw;
            text-align: left;
            max-width: 70rem;
            h2{
                color: var(--mainBlue);
                font-weight: bold;
                font-size: 2.2rem;
                margin-top: 2rem;
            }
            h3{
                text-align: left;
                color: var(--mainGrey);
                font-weight: bold;
                font-size: 1.8rem;
            }
            h4{
                &::before{
                    content: "";
                    background-image: url(../../images/childtheme/puce-h4.png);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 1.5rem;
                    height: 1.5rem;
                    display: inline-block;
                    margin-right: 0.5rem;
                    position: relative;
                    top: 3px;
                }
                color: var(--mainRed);
            }
            p{
                color: var(--mainGrey);
            }
            .btn-blue{
                a{
                    width: 15rem;
                    height: 4rem;
                    background-color: var(--mainBlue);
                    color: white;
                    border-radius: 0;
                    &:hover{
                        background-color: var(--mainRed);
                    }
                    &:active{
                        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
                    }
                }
            }
            .btn-red{
                a{
                    width: 15rem;
                    height: 4rem;
                    background-color: var(--mainRed);
                    color: white;
                    border-radius: 0;
                    &:hover{
                        background-color: var(--mainBlue);
                    }
                    &:active{
                        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
                    }
                }
            }
            .btn_yupanki{
                // a{
                //     background-image: url(../../images/childtheme/Yupanki-logo-sansbeaseline.svg);
                //     background-size: contain;
                //     background-position: center;
                //     background-repeat: no-repeat;
                //     background-color: var(--mainRedLight);
                //     width: 20rem;
                //     height: 7rem;
                //     color: transparent;
                //     &:hover{
                //         background-image: url(../../images/childtheme/Yupanki-logo-blanc.svg);
                //         background-color: black;
                //     }
                // }
                a{
                    background-color: var(--mainGrey);
                    color: #fdc300;
                    padding: 1rem 2rem;
                    &:hover{
                        background-color: black;
                    }
                }
            }
            .btn_edisen{
                a{
                    background-color: var(--mainRed);
                    color: white;
                    padding: 1rem 2rem;
                    &:hover{
                        background-color: var(--mainBlue);
                    }
                }
            }
            .button{
                background-color: var(--mainBlue);
                color: white;
                border-radius: 0;
                &:hover{
                    background-color: var(--mainRed);
                }
                &:active{
                    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
                }
            }
            .link-red{
                color: var(--mainRed);
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
            .contact__infos{
                list-style-type: none;
                margin: 0;
                font-size: 1.2rem;
                margin-bottom: 5rem;
                .list-type-phone{
                    font-weight: bold;
                    margin: 1rem 0;
                    &::before{
                        content: "";
                        background-image: url(../../images/childtheme/tel-icone-red.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 1.5rem;
                        height: 1.5rem;
                        display: inline-block;
                        margin-right: 0.5rem;
                        position: relative;
                        top: 3px;
                    }
                    a{
                        color: var(--mainGrey);
                        text-decoration: none;
                    }
                }
                .list-type-mail{
                    font-weight: bold;
                    margin: 1rem 0;
                    &::before{
                        content: "";
                        background-image: url(../../images/childtheme/mail-icone-red.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 1.5rem;
                        height: 1.5rem;
                        display: inline-block;
                        margin-right: 0.5rem;
                        position: relative;
                        top: 3px;
                    }
                    a{
                        color: var(--mainGrey);
                        text-decoration: none;
                    }
                }
            }
            .margin-column{
                margin-bottom: 5rem;
            }
            .column__contact{
                list-style-type: none;
                color: var(--mainGrey);
                margin: 0;
                font-size: 1.2rem;
                .list-type-place{
                    font-weight: bold;
                    &::before{
                        content: "";
                        background-image: url(../../images/childtheme/place-ico-red.svg);
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 1.5rem;
                        height: 1.5rem;
                        display: inline-block;
                        margin-right: 0.5rem;
                        position: relative;
                        top: 3px;
                    }
                }
                ul{
                    font-weight:normal;
                    margin-left: 2.1rem;
                    list-style-type: none;
                    li{
                        font-size: 1rem;
                    }
                }
            }
            .column-yupanki-edisen{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                >div{
                    width: 33rem;
                }
            }
            .column_manufacture{
                .wp-block-columns{
                    .wp-block-column{
                        background-color: var(--mainBlue);
                        margin: 0;
                        &:nth-child(2){
                            background-color: var(--mainRed);
                        }
                        p{
                            color: white;
                            padding: 0 0.5rem;
                            &:first-child{
                                font-size: 2rem;
                                margin-bottom: 0;
                                text-align: center;
                            }
                        }
                    }
                    &:nth-child(2){
                        .wp-block-column{
                            background-color: var(--mainRed);
                            &:nth-child(2), &:nth-child(4){
                                background-color: var(--mainBlue);
                            }
                        }
                    }
                }
            }
            .list-libraries{
                >ul{
                    margin: 0;
                    margin-left: 1rem;
                    >li{
                        color: var(--mainRed);
                        list-style-type: none;
                        &::before{
                            content: "";
                            background-image: url(../../images/childtheme/puce-h4.png);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 1.2rem;
                            height: 1.2rem;
                            display: inline-block;
                            margin-right: 0.5rem;
                            position: relative;
                            top: 3px;
                        }
                        ul{
                            li{
                                list-style-type: none;
                                color: var(--mainGrey);
                                margin-left: 0.7rem;
                            }
                        }
                    }
                }
            }
            .cadre-white-bold{
                strong{
                    color: var(--mainBlue);
                }
            }
            .wpcf7-form{
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                >p{
                    margin-bottom: 0.5rem;
                    color: black;
                    font-weight: bold;
                }
                >div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 70rem;
                    label{
                        text-align: left;
                    }
                    >div{
                        width: 33rem;
                        span{
                            input{
                                width: 100%;
                                background-color: white;
                                border: var(--mainBlue) 2px solid;
                            }
                        }
                        label{
                            font-size: 0px;
                            color: transparent;
                            input, textarea{
                                font-size: 1rem;
                                color: var(--mainGrey);
                            }
                        }
                    }
                    &:nth-child(4), &:nth-child(6), &:nth-child(7){
                        margin-bottom: 1.5rem;
                        label{
                            width: 70rem;
                        }
                        textarea{
                            width: 70rem;
                            background-color: white;
                            border: var(--mainBlue) 2px solid;
                        }
                    }
                    &:nth-child(6){
                        background-color: white;
                        border: var(--mainBlue) 2px solid;
                        padding-left: 1rem;
                        padding-bottom: 0.5rem;
                        .codedropz-upload-wrapper{
                            width: 67rem;
                        }
                    }
                    &:nth-child(7){
                        flex-direction: column;
                        label{
                            
                            span{
                                input{
                                    width: 100%;
                                    background-color: white;
                                    border: var(--mainBlue) 2px solid;
                                }
                            }
                        }
                        .wpcf7-captchac{
                        width: 15rem;
                        height: 5rem;
                        margin-right: 1rem;
                        }
                    }
                    &:nth-child(8){
                        flex-direction: column;
                        input{
                            width: 20rem;
                            height: 4rem;
                            margin-right: 0;
                            margin-left: auto;
                            background-color: var(--mainBlue);
                            color: white;
                            &:hover{
                                background-color: var(--mainRed);
                            }
                            &:active{
                                box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
                            }
                        }
                    }
                    
                }
                .wpcf7-response-output{
                    border: none;
                    padding-left: 0;
                    color: black;
                    font-weight: bold;
                    margin-top: 0;
                }
            }
            #wps-slider-section{
                padding-top: 0;
                margin-bottom: 4rem;
                .slick-arrow{
                    display: none !important;
                }
                .slick-track{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }

        @media (max-width: 1110px){
            .entry-content{
                max-width: 90vw;
                .wpcf7-form{
                    >div{
                        width: 90vw;
                        >div{
                            width: 44vw;
                        }
                        &:nth-child(4), &:nth-child(6), &:nth-child(7){
                            label{
                                width: 90vw;
                            }
                            textarea{
                                width: 90vw;
                            }
                            .codedropz-upload-wrapper{
                                width: 86vw;
                            }
                        } 
                    }
                }
                .column-yupanki-edisen{
                    flex-direction: column;
                    >div{
                        width: 90vw;
                    }
                }
                // .column_manufacture{
                //     .wp-block-columns{
                //         display: flex;
                //         flex-wrap: wrap !important;
                //         .wp-block-column{
                //             flex-basis: 30vw !important;
                //             &:nth-child(2), &:nth-child(3){
                //                 background-color: var(--mainRed);
                //             }
                //             &:nth-child(4){
                //                 background-color: var(--mainBlue);
                //             }
                //         }
                //         &:last-child{
                //             .wp-block-column{
                //                 background-color: var(--mainBlue);
                //                 &:nth-child(2), &:nth-child(3){
                //                     background-color: var(--mainRed);
                //                 }
                //                 &:nth-child(4){
                //                     background-color: var(--mainBlue);
                //                 }
                //             }
                //         }
                //     }
                // }
            }
        }
        @media (max-width: 768px){
            h1{
                font-size: 2rem;
            }
            .entry-content{
                h2{
                    font-size: 1.5rem;
                }
                h3{
                    font-size: 1.2rem;
                }
                h4{
                    font-size: 1rem;
                    &::before{
                        content: "";
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
                .wpcf7-form{
                    >div{
                        &:nth-child(6){
                            .codedropz-upload-wrapper{
                                width: 82vw;
                            }
                        } 
                    }
                }
            }
        }
        @media (max-width: 550px){
            .entry-content{
                // .column_manufacture{
                //     .wp-block-columns{
                //         .wp-block-column{
                //             flex-basis: 100% !important;
                //             &:nth-child(2), &:nth-child(4){
                //                 background-color: var(--mainRed);
                //             }
                //             &:nth-child(3){
                //                 background-color: var(--mainBlue);
                //             }
                //         }
                //         &:last-child{
                //             .wp-block-column{
                //                 background-color: var(--mainBlue);
                //                 &:nth-child(2), &:nth-child(4){
                //                     background-color: var(--mainRed);
                //                 }
                //                 &:nth-child(3){
                //                     background-color: var(--mainBlue);
                //                 }
                //             }
                //         }
                //     }
                // }
                .wpcf7-form{
                    >div{
                        flex-direction: column;
                        >div{
                            width: 90vw;
                        }
                        &:nth-child(8){
                            flex-direction: column;
                            input{
                                width: 90vw;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media (min-width: 768px){
    .storefront-breadcrumb {
        margin-bottom: 1rem !important;
    }
    
}
