.storefront-breadcrumb {
  color: var(--mainRed);
  text-transform: uppercase;
  font-size: 1.2rem;
}
.storefront-breadcrumb .woocommerce-breadcrumb a {
  color: var(--mainBlue);
  text-decoration: none;
}
.storefront-breadcrumb .woocommerce-breadcrumb a::before {
  color: var(--mainRed);
}
.storefront-breadcrumb .woocommerce-breadcrumb a:hover {
  text-decoration: underline;
}

.col-full {
  padding: 0 !important;
  max-width: 70rem !important;
}
.col-full #main {
  margin-bottom: 0;
}
.col-full #main > .col-full {
  margin: 0;
}
.col-full #main h1 {
  color: var(--mainRed);
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 2.3rem;
}
.col-full #main h1 sup {
  text-transform: lowercase;
}
.col-full #main .entry-content {
  width: 100vw;
  text-align: left;
  max-width: 70rem;
}
.col-full #main .entry-content h2 {
  color: var(--mainBlue);
  font-weight: bold;
  font-size: 2.2rem;
  margin-top: 2rem;
}
.col-full #main .entry-content h3 {
  text-align: left;
  color: var(--mainGrey);
  font-weight: bold;
  font-size: 1.8rem;
}
.col-full #main .entry-content h4 {
  color: var(--mainRed);
}
.col-full #main .entry-content h4::before {
  content: "";
  background-image: url(../../images/childtheme/puce-h4.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
.col-full #main .entry-content p {
  color: var(--mainGrey);
}
.col-full #main .entry-content .btn-blue a {
  width: 15rem;
  height: 4rem;
  background-color: var(--mainBlue);
  color: white;
  border-radius: 0;
}
.col-full #main .entry-content .btn-blue a:hover {
  background-color: var(--mainRed);
}
.col-full #main .entry-content .btn-blue a:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.col-full #main .entry-content .btn-red a {
  width: 15rem;
  height: 4rem;
  background-color: var(--mainRed);
  color: white;
  border-radius: 0;
}
.col-full #main .entry-content .btn-red a:hover {
  background-color: var(--mainBlue);
}
.col-full #main .entry-content .btn-red a:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.col-full #main .entry-content .btn_yupanki a {
  background-color: var(--mainGrey);
  color: #fdc300;
  padding: 1rem 2rem;
}
.col-full #main .entry-content .btn_yupanki a:hover {
  background-color: black;
}
.col-full #main .entry-content .btn_edisen a {
  background-color: var(--mainRed);
  color: white;
  padding: 1rem 2rem;
}
.col-full #main .entry-content .btn_edisen a:hover {
  background-color: var(--mainBlue);
}
.col-full #main .entry-content .button {
  background-color: var(--mainBlue);
  color: white;
  border-radius: 0;
}
.col-full #main .entry-content .button:hover {
  background-color: var(--mainRed);
}
.col-full #main .entry-content .button:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.col-full #main .entry-content .link-red {
  color: var(--mainRed);
  text-decoration: none;
}
.col-full #main .entry-content .link-red:hover {
  text-decoration: underline;
}
.col-full #main .entry-content .contact__infos {
  list-style-type: none;
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 5rem;
}
.col-full #main .entry-content .contact__infos .list-type-phone {
  font-weight: bold;
  margin: 1rem 0;
}
.col-full #main .entry-content .contact__infos .list-type-phone::before {
  content: "";
  background-image: url(../../images/childtheme/tel-icone-red.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
.col-full #main .entry-content .contact__infos .list-type-phone a {
  color: var(--mainGrey);
  text-decoration: none;
}
.col-full #main .entry-content .contact__infos .list-type-mail {
  font-weight: bold;
  margin: 1rem 0;
}
.col-full #main .entry-content .contact__infos .list-type-mail::before {
  content: "";
  background-image: url(../../images/childtheme/mail-icone-red.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
.col-full #main .entry-content .contact__infos .list-type-mail a {
  color: var(--mainGrey);
  text-decoration: none;
}
.col-full #main .entry-content .margin-column {
  margin-bottom: 5rem;
}
.col-full #main .entry-content .column__contact {
  list-style-type: none;
  color: var(--mainGrey);
  margin: 0;
  font-size: 1.2rem;
}
.col-full #main .entry-content .column__contact .list-type-place {
  font-weight: bold;
}
.col-full #main .entry-content .column__contact .list-type-place::before {
  content: "";
  background-image: url(../../images/childtheme/place-ico-red.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
.col-full #main .entry-content .column__contact ul {
  font-weight: normal;
  margin-left: 2.1rem;
  list-style-type: none;
}
.col-full #main .entry-content .column__contact ul li {
  font-size: 1rem;
}
.col-full #main .entry-content .column-yupanki-edisen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.col-full #main .entry-content .column-yupanki-edisen > div {
  width: 33rem;
}
.col-full #main .entry-content .column_manufacture .wp-block-columns .wp-block-column {
  background-color: var(--mainBlue);
  margin: 0;
}
.col-full #main .entry-content .column_manufacture .wp-block-columns .wp-block-column:nth-child(2) {
  background-color: var(--mainRed);
}
.col-full #main .entry-content .column_manufacture .wp-block-columns .wp-block-column p {
  color: white;
  padding: 0 0.5rem;
}
.col-full #main .entry-content .column_manufacture .wp-block-columns .wp-block-column p:first-child {
  font-size: 2rem;
  margin-bottom: 0;
  text-align: center;
}
.col-full #main .entry-content .column_manufacture .wp-block-columns:nth-child(2) .wp-block-column {
  background-color: var(--mainRed);
}
.col-full #main .entry-content .column_manufacture .wp-block-columns:nth-child(2) .wp-block-column:nth-child(2), .col-full #main .entry-content .column_manufacture .wp-block-columns:nth-child(2) .wp-block-column:nth-child(4) {
  background-color: var(--mainBlue);
}
.col-full #main .entry-content .list-libraries .column-yupanki-edisen div > ul {
  margin: 0;
  margin-left: 1rem;
}
.col-full #main .entry-content .list-libraries .column-yupanki-edisen div > ul > li {
  color: var(--mainRed);
  list-style-type: none;
  font-size: 1.1rem;
}
.col-full #main .entry-content .list-libraries .column-yupanki-edisen div > ul > li::before {
  content: "";
  background-image: url(../../images/childtheme/puce-h4.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
.col-full #main .entry-content .list-libraries .column-yupanki-edisen div > ul > li ul li {
  list-style-type: none;
  color: var(--mainGrey);
  margin-left: 0.7rem;
}
.col-full #main .entry-content .cadre-white-bold strong {
  color: var(--mainBlue);
}
.col-full #main .entry-content .wpcf7-form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-full #main .entry-content .wpcf7-form > p {
  margin-bottom: 0.5rem;
  color: black;
  font-weight: bold;
}
.col-full #main .entry-content .wpcf7-form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70rem;
}
.col-full #main .entry-content .wpcf7-form > div label {
  text-align: left;
}
.col-full #main .entry-content .wpcf7-form > div > div {
  width: 33rem;
}
.col-full #main .entry-content .wpcf7-form > div > div span input {
  width: 100%;
  background-color: white;
  border: var(--mainBlue) 2px solid;
}
.col-full #main .entry-content .wpcf7-form > div > div label {
  font-size: 0px;
  color: transparent;
}
.col-full #main .entry-content .wpcf7-form > div > div label input, .col-full #main .entry-content .wpcf7-form > div > div label textarea {
  font-size: 1rem;
  color: var(--mainGrey);
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(4), .col-full #main .entry-content .wpcf7-form > div:nth-child(6), .col-full #main .entry-content .wpcf7-form > div:nth-child(7) {
  margin-bottom: 1.5rem;
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(4) label, .col-full #main .entry-content .wpcf7-form > div:nth-child(6) label, .col-full #main .entry-content .wpcf7-form > div:nth-child(7) label {
  width: 70rem;
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(4) textarea, .col-full #main .entry-content .wpcf7-form > div:nth-child(6) textarea, .col-full #main .entry-content .wpcf7-form > div:nth-child(7) textarea {
  width: 70rem;
  background-color: white;
  border: var(--mainBlue) 2px solid;
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(6) {
  background-color: white;
  border: var(--mainBlue) 2px solid;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(6) .codedropz-upload-wrapper {
  width: 67rem;
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(7) {
  flex-direction: column;
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(7) label span input {
  width: 100%;
  background-color: white;
  border: var(--mainBlue) 2px solid;
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(7) .wpcf7-captchac {
  width: 15rem;
  height: 5rem;
  margin-right: 1rem;
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(8) {
  flex-direction: column;
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(8) input {
  width: 20rem;
  height: 4rem;
  margin-right: 0;
  margin-left: auto;
  background-color: var(--mainBlue);
  color: white;
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(8) input:hover {
  background-color: var(--mainRed);
}
.col-full #main .entry-content .wpcf7-form > div:nth-child(8) input:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.col-full #main .entry-content .wpcf7-form .wpcf7-response-output {
  border: none;
  padding-left: 0;
  color: black;
  font-weight: bold;
  margin-top: 0;
}
.col-full #main .entry-content #wps-slider-section {
  padding-top: 0;
  margin-bottom: 4rem;
}
.col-full #main .entry-content #wps-slider-section .slick-arrow {
  display: none !important;
}
.col-full #main .entry-content #wps-slider-section .slick-track {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 1110px) {
  .col-full #main .entry-content {
    max-width: 90vw;
  }
  .col-full #main .entry-content .wpcf7-form > div {
    width: 90vw;
  }
  .col-full #main .entry-content .wpcf7-form > div > div {
    width: 44vw;
  }
  .col-full #main .entry-content .wpcf7-form > div:nth-child(4) label, .col-full #main .entry-content .wpcf7-form > div:nth-child(6) label, .col-full #main .entry-content .wpcf7-form > div:nth-child(7) label {
    width: 90vw;
  }
  .col-full #main .entry-content .wpcf7-form > div:nth-child(4) textarea, .col-full #main .entry-content .wpcf7-form > div:nth-child(6) textarea, .col-full #main .entry-content .wpcf7-form > div:nth-child(7) textarea {
    width: 90vw;
  }
  .col-full #main .entry-content .wpcf7-form > div:nth-child(4) .codedropz-upload-wrapper, .col-full #main .entry-content .wpcf7-form > div:nth-child(6) .codedropz-upload-wrapper, .col-full #main .entry-content .wpcf7-form > div:nth-child(7) .codedropz-upload-wrapper {
    width: 86vw;
  }
  .col-full #main .entry-content .column-yupanki-edisen {
    flex-direction: column;
  }
  .col-full #main .entry-content .column-yupanki-edisen > div {
    width: 90vw;
  }
}
@media (max-width: 768px) {
  .col-full #main h1 {
    font-size: 2rem;
  }
  .col-full #main .entry-content h2 {
    font-size: 1.5rem;
  }
  .col-full #main .entry-content h3 {
    font-size: 1.2rem;
  }
  .col-full #main .entry-content h4 {
    font-size: 1rem;
  }
  .col-full #main .entry-content h4::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
  }
  .col-full #main .entry-content .wpcf7-form > div:nth-child(6) .codedropz-upload-wrapper {
    width: 82vw;
  }
}
@media (max-width: 550px) {
  .col-full #main .entry-content .wpcf7-form > div {
    flex-direction: column;
  }
  .col-full #main .entry-content .wpcf7-form > div > div {
    width: 90vw;
  }
  .col-full #main .entry-content .wpcf7-form > div:nth-child(8) {
    flex-direction: column;
  }
  .col-full #main .entry-content .wpcf7-form > div:nth-child(8) input {
    width: 90vw;
  }
}

@media (min-width: 768px) {
  .storefront-breadcrumb {
    margin-bottom: 1rem !important;
  }
}/*# sourceMappingURL=content.css.map */