#content{
    .col-full{
        .storefront-product-section{
            display:none;
        }
        .wp-block-columns{
            max-width: 50rem;
            margin-right: auto;
            margin-left: auto;
        }
    }
}