.error-404{
    .page-content{
        display: flex;
        align-items: center;
        justify-content: center;
        .error-404__float{
            position: absolute;
            width: 40rem;
            height: 10rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .text-404{
                position: absolute;
                z-index: 2;
                padding: 0.5rem;
                p{
                    color: white;
                }
            }
            .blur-404{
                width: 40rem;
                height: 10rem;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.775);
            }
        }
        @media (max-width: 767.5px){
            img{
                display: none;
            }
            .error-404__float{
                position: relative;
                width: 90vw;
                height: fit-content;
                display: block;
                .text-404{
                    position: relative;
                    p{
                        color: black;
                    }
                }
                .blur-404{
                    display: none;
                }
            }
        }
    }
}