#colophon{
    padding: 0;
    .col-full{
        margin-top: 2rem;
        .footer-widgets{
            display: none;
        }
        .site-info{
            display: none;
        }
        .footer-infos-legals{
            display: flex;
            flex-direction: column;
            .site-footer-infos{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom:2rem;
                .footer-menu{
                    .menu-nav-container{
                        .menu{
                            margin: 0;
                            li{
                                list-style-type: none;
                                margin-top: 0.5rem;
                                a{
                                    color: white;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    &:hover{
                                        border-bottom: solid white 1px;
                                    }
                                }
                                &:last-child{
                                    display: none;
                                }
                            }
                        }
                    }
                }
                .footer-logo{
                    img{
                        width: 15rem;
                        margin: auto;
                    }
                }
                .footer-contact{
                    ul{
                        list-style-type: none;
                        color: white;
                        margin: 0;
                        .list-type-place{
                            font-weight: bold;
                            margin-bottom: 1.5rem;
                            &::before{
                                content: "";
                                background-image: url(../../images/childtheme/place-ico.svg);
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                width: 1.5rem;
                                height: 1.5rem;
                                display: inline-block;
                                margin-right: 0.5rem;
                                position: relative;
                                top: 3px;
                            }
                            ul{
                                font-weight:normal;
                                margin-left: 2.2rem;
                                li{
                                    font-size: 0.9rem;
                                }
                            }
                        }
                        .contact-row{
                            display: flex;
                            flex-direction: row;
                            margin-top: 0.5rem;
                            >img{
                                width: 1.5rem;
                                cursor: pointer;
                            }
                            a{
                                color: white;
                                text-decoration: none;
                                padding-left: 0.7rem;
                                font-weight: bold;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
            .site-footer-legals{
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin: 0.5rem 0;
                    span{
                        height: 25px;
                        width: 2px;
                        background-color: white;
                    }
                    li{
                        list-style-type: none;
                        &:first-child{
                            margin-right: 2rem;
                        }
                        &:last-child{
                            margin-left: 2rem;
                        }
                        a{
                            color: white;
                            text-decoration: none;
                            &:hover{
                                border-bottom: solid white 1px;
                            }
                        }
                    }
                }
            }
        }
        .storefront-handheld-footer-bar{
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .my-account{
                    a{
                        color: var(--mainRed);
                    }
                }
                .search{
                    display: none;
                }
                .cart{
                    a{
                        color: var(--mainBlue);
                    }
                    span{
                        background-color: var(--mainRed);
                    }
                }
            }
        }

        @media (max-width: 767.5px){
            margin-bottom: 5rem;
            .footer-infos-legals{
                .site-footer-infos{
                    flex-direction: column;
                    .footer-menu{
                        .menu-nav-container{
                            .menu{
                                li{
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .footer-logo{
                        img{
                            width: 12rem;
                            margin-top:2.5rem;
                            margin-bottom: 2.5rem;
                        }
                    }
                }
                .site-footer-legals{
                    ul{
                        li{
                            list-style-type: none;
                            &:first-child{
                                margin-right: 1rem;
                            }
                            &:last-child{
                                margin-left: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}