#masthead{
	padding: 0;
	margin: 0;
    .storefront_header_wp{
        display: none;
    }

nav{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 100vw;
	height: 5.5rem;
	padding-top: 0;
    .nav__logo{
        cursor: pointer;
        width: 10rem;
        margin-left: 9vw;
    }
    .menu-nav-container{
        #menu-nav{
            display: flex;
            margin: 0;
            >li{
                padding: 0 0.8rem;
	            border-right: solid var(--mainRed) 2px;
            }
            li{
                list-style-type: none;
                &:last-child{
                    display: none;
                }
                a{
                    color: var(--mainBlue);
	                text-transform:uppercase;
                    &:hover{
                        color: var(--mainRed);
                    }
                }
                &.current-menu-item{
                    a{
                        color: var(--mainRed);
                    }
                }
            }
        }
    }
    .header-account-basket{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 5vw;
        .header-account{
            >ul{
                position: relative;
                margin :0;
                list-style-type: none;
                margin-right: 1.5rem;
                padding: 2rem 0;
                li{
                    border-right: solid var(--mainRed) 2px;
                    padding-right: 1rem;
                    a{
                        color: var(--mainBlue);
                        text-transform: uppercase;
                        &:hover{
                            color: var(--mainRed);
                        }
                    }
                }
                .sub-menu{
                    display: none;
                    list-style-type: none;
                    margin: 0;
                    position: absolute;
                    top: 5.25rem;
                    left: -1rem;
                    width: 12rem;
                /* 	background-color: #F1FAFF; */
                    background-color: white;
                    border-right: none;
                    li{
                        padding: 0.5rem 0 0.5rem 1rem;
                        text-transform: none;
                        border-right: none;
                        a{
                            text-transform: none;
                            color: var(--mainRed);
                            font-size: 0.9rem;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                &:hover{
                    .sub-menu{
                        display: block;
                    }
                }
            }
        }
        .header-price{
            .site-header-cart{
                width: 16rem;
                .header-cart__price{
                    .cart-contents::after{
                        float: none;
                        padding-left: 3rem;
                        color: var(--mainRed);
                    }
                }
                li{
                    .widget_shopping_cart{
                        background-color: white;
                        .widget_shopping_cart_content{
                            >ul{
                                background-color: white;
                                >li{
                                    a{
                                        color: var(--mainBlue);
                                    }
                                }
                            }
                            >p{
                                background-color: white;
                                &.woocommerce-mini-cart__buttons{
                                    .button{
                                        &:first-child{
                                            background-color: var(--mainRedLight);
                                            &:hover{
                                                box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
                                            }
                                        }
                                        &:last-child{
                                            background-color: var(--mainRed);
                                            &:hover{
                                                background-color: var(--mainBlue);
                                            }
                                            &:active{
                                                background-color: var(--mainBlue);
                                                box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .nav__burger{
        display: none;
        margin-right: 5vw;
    }


    @media (max-width: 1110px) {
        .nav__logo{
        width: 8rem;
        margin-left: 5rem;
        }
        .menu-nav-container{
            #menu-nav{
                li{
                    a{
                        font-size: 0.9rem;
                    }
                }
            }
        }
        .header-account-basket{
            .header-account{
                >ul{
                    margin:0;
                    li{
                        a{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
            .header-price{
                .site-header-cart{
                    width: 4rem;
                    li{
                        &:last-child{
                            display: none;
                        }
                        .cart-contents{
                            &::after{
                                padding-left: 1.5rem;
                            }
                            span{
                                display: none;
                            }
                        }
                    }
                }
            }
        } 
    }
}

    @media (max-width: 767.5px){
        nav{
            position : relative;
            .nav__logo{
                width: 10rem;
                margin-left: 2rem;
            }
            .menu-nav-container{
                display: none;
                position: absolute;
                min-width: 100vw;
                margin: 0;
                &.menu-nav-container--show{
                    display: block;
                    order: 3;
                    animation-duration: 0.5s;
                    animation-name: showMenu;
                    animation-fill-mode: forwards;
                }
                &.menu-nav-container--unshow{
                    display: block;
                    order: 3;
                    animation-duration: 0.5s;
                    animation-name: unshowMenu;
                    animation-fill-mode: forwards;
                }
                #menu-nav{
                flex-direction: column;
                background-color:rgb(255, 255, 255);
                    >li{
                        width: 100%;
                        text-align: left;
                        padding: 1rem 0 1rem 2rem;
                        border-bottom: 0.5px solid var(--mainRed);
                        border-right: none;
                    }
                    // .menu-item-has-children{
                    //     .sub-menu{
                    //         li{
                    //             a{
                    //             }
                    //         }
                    //     }
                    // }
                    li{
                        &:last-child{
                            display: block;
                        }
                    }
                }
            }
            
            .header-account-basket{
                .header-account{
                    display: none;
                }
            }
            .nav__burger{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 25px;
                >div{
                    height: 4px;
                    width: 35px;
                    background-color: black;
                    border-radius: 20px;
                }
                &.nav__burger--cross{
                    div:nth-child(1){
                        animation-duration: 0.5s;
                        animation-name: crossMenu1;
                        animation-fill-mode: forwards;
                        
                    }
                    div:nth-child(2){
                        animation-duration: 0.05s;
                        animation-name: crossMenu2;
                        animation-fill-mode: forwards;
                        
                    }
                    div:nth-child(3){
                        animation-duration: 0.5s;
                        animation-name: crossMenu3;
                        animation-fill-mode: forwards;
                        
                    }
                }
                &.nav__burger--burger{
                    div:nth-child(1){
                        animation-duration: 0.5s;
                        animation-name: burgerMenu1;
                        animation-fill-mode: both;
                        
                    }
                    div:nth-child(2){
                        animation-duration: 0.5s;
                        animation-name: burgerMenu2;
                        animation-fill-mode: both;
                        
                    }
                    div:nth-child(3){
                        animation-duration: 0.5s;
                        animation-name: burgerMenu3;
                        animation-fill-mode: both;
                        
                    }
                }
            }
        }
    }

}
@keyframes showMenu {
    from {
        top: -400px;
    }
    to {
        top: 5.5rem;
    }
}
@keyframes unshowMenu {
    from {
        top: 5.5rem;
    }
    to {
        top: -400px;
    }
}

@keyframes crossMenu1 {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(45deg) translate(8px, 5px);
    }
}
@keyframes crossMenu2 {
    from {
        opacity: 100;
    }
    to {
        opacity: 0;
    }
}
@keyframes crossMenu3 {
    from {
        transform: rotate(0deg) translate(0px, 0px);
    }
    to {
        transform: rotate(-45deg) translate(9px, -7px);
    }
}

@keyframes burgerMenu1 {
    from {
        transform: rotate(45deg) translate(8px, 5px);
    }
    to {
        transform: rotate(0deg) translate(0px, 0px);
    }
}
@keyframes burgerMenu2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
@keyframes burgerMenu3 {
    from {
        transform: rotate(-45deg) translate(9px, -7px);
    }
    to {
        transform: rotate(0deg) translate(0px, 0px);
    }
}
