#masthead {
  padding: 0;
  margin: 0;
}
#masthead .storefront_header_wp {
  display: none;
}
#masthead nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 95vw;
  height: 5.5rem;
  padding-top: 0;
}
#masthead nav .nav__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#masthead nav .nav__logo img {
  cursor: pointer;
  width: 10rem;
}
#masthead nav .nav__logo span {
  width: 2px;
  height: 4rem;
  background-color: var(--mainBlue);
  margin-right: 0.5rem;
  margin-left: 0.8rem;
}
#masthead nav .nav__logo ul {
  margin: 0;
  list-style-type: none;
  font-size: 0.8rem;
}
#masthead nav .nav__logo ul li {
  font-weight: bold;
  color: var(--mainRed);
}
#masthead nav .nav__logo ul li::before {
  content: "";
  background-image: url(../../images/childtheme/place-ico-red.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
}
#masthead nav .nav__logo ul li:last-child {
  margin-top: 0.5rem;
}
#masthead nav .menu-nav-container #menu-nav {
  display: flex;
  margin: 0;
}
#masthead nav .menu-nav-container #menu-nav > li > a {
  padding: 0.1rem 1rem;
  border-right: solid var(--mainRed) 2px;
}
#masthead nav .menu-nav-container #menu-nav > li:nth-last-child(2) a {
  border-right: none;
}
#masthead nav .menu-nav-container #menu-nav li {
  list-style-type: none;
}
#masthead nav .menu-nav-container #menu-nav li:last-child {
  display: none;
}
#masthead nav .menu-nav-container #menu-nav li a {
  color: var(--mainBlue);
  text-transform: uppercase;
}
#masthead nav .menu-nav-container #menu-nav li a:hover {
  color: var(--mainRed);
}
#masthead nav .menu-nav-container #menu-nav li.current-menu-item a {
  color: var(--mainRed);
}
#masthead nav .header-account-basket {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#masthead nav .header-account-basket .header-account > ul {
  position: relative;
  margin: 0;
  list-style-type: none;
  margin-right: 1rem;
  padding: 2rem 0;
}
#masthead nav .header-account-basket .header-account > ul li a {
  padding: 0.1rem 1rem 0.1rem 0;
  color: var(--mainBlue);
  text-transform: uppercase;
}
#masthead nav .header-account-basket .header-account > ul li a:hover {
  color: var(--mainRed);
}
#masthead nav .header-account-basket .header-account > ul .sub-menu {
  display: none;
  list-style-type: none;
  margin: 0;
  position: absolute;
  top: 5.25rem;
  left: -1rem;
  width: 12rem;
  /* 	background-color: #F1FAFF; */
  background-color: white;
  border-right: none;
}
#masthead nav .header-account-basket .header-account > ul .sub-menu li {
  padding: 0.5rem 0 0.5rem 1rem;
  text-transform: none;
  border-right: none;
}
#masthead nav .header-account-basket .header-account > ul .sub-menu li a {
  text-transform: none;
  color: var(--mainRed);
  font-size: 0.9rem;
}
#masthead nav .header-account-basket .header-account > ul .sub-menu li a:hover {
  text-decoration: underline;
}
#masthead nav .header-account-basket .header-account > ul:hover .sub-menu {
  display: block;
}
#masthead nav .header-account-basket .header-price .site-header-cart {
  width: 9rem;
}
#masthead nav .header-account-basket .header-price .site-header-cart .header-cart__price .cart-contents::after {
  float: none;
  padding-left: 1rem;
  color: var(--mainRed);
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart {
  background-color: transparent;
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content {
  position: relative;
  left: -9rem;
  background-color: white;
  width: 20rem;
  padding: 0.5rem;
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content > ul {
  background-color: white;
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content > ul > li {
  padding: 0.5rem;
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content > ul > li a {
  color: var(--mainBlue);
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content > p {
  background-color: white;
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content > p.woocommerce-mini-cart__buttons {
  padding: 0.5rem;
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content > p.woocommerce-mini-cart__buttons .button:first-child {
  background-color: var(--mainRedLight);
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content > p.woocommerce-mini-cart__buttons .button:first-child:hover {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content > p.woocommerce-mini-cart__buttons .button:last-child {
  background-color: var(--mainRed);
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content > p.woocommerce-mini-cart__buttons .button:last-child:hover {
  background-color: var(--mainBlue);
}
#masthead nav .header-account-basket .header-price .site-header-cart li .widget_shopping_cart .widget_shopping_cart_content > p.woocommerce-mini-cart__buttons .button:last-child:active {
  background-color: var(--mainBlue);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#masthead nav .nav__burger {
  display: none;
  margin-right: 5vw;
}
@media (max-width: 1150px) {
  #masthead nav {
    width: 100vw;
  }
  #masthead nav .nav__logo img {
    margin-left: 2rem;
    width: 9rem;
  }
  #masthead nav .nav__logo span {
    display: none;
  }
  #masthead nav .nav__logo ul {
    display: none;
  }
  #masthead nav .menu-nav-container #menu-nav li a {
    font-size: 0.9rem;
  }
  #masthead nav .header-account-basket {
    margin-right: 2rem;
  }
  #masthead nav .header-account-basket .header-account > ul {
    margin: 0;
  }
  #masthead nav .header-account-basket .header-account > ul li a {
    font-size: 0.9rem;
  }
  #masthead nav .header-account-basket .header-price .site-header-cart {
    width: 2rem;
    text-align: center;
  }
  #masthead nav .header-account-basket .header-price .site-header-cart li:last-child {
    display: none;
  }
  #masthead nav .header-account-basket .header-price .site-header-cart li .cart-contents span {
    display: none;
  }
  #masthead nav .header-account-basket .header-price .site-header-cart .header-cart__price {
    width: 0px;
    margin: 0;
  }
}
@media (max-width: 767.5px) {
  #masthead nav {
    position: relative;
  }
  #masthead nav .menu-nav-container {
    display: none;
    position: absolute;
    min-width: 100vw;
    margin: 0;
  }
  #masthead nav .menu-nav-container.menu-nav-container--show {
    display: block;
    order: 3;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: showMenu;
            animation-name: showMenu;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #masthead nav .menu-nav-container.menu-nav-container--unshow {
    display: block;
    order: 3;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: unshowMenu;
            animation-name: unshowMenu;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #masthead nav .menu-nav-container #menu-nav {
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  #masthead nav .menu-nav-container #menu-nav > li {
    padding: 0.2rem 0;
    border-bottom: 0.5px solid var(--mainRed);
    width: 100%;
  }
  #masthead nav .menu-nav-container #menu-nav > li > a {
    border-right: none;
    padding: 1rem 0 1rem 2rem;
    display: block;
  }
  #masthead nav .menu-nav-container #menu-nav li:last-child {
    display: block;
  }
  #masthead nav .header-account-basket .header-account {
    display: none;
  }
  #masthead nav .nav__burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
  }
  #masthead nav .nav__burger > div {
    height: 4px;
    width: 35px;
    background-color: var(--mainGrey);
    border-radius: 20px;
  }
  #masthead nav .nav__burger.nav__burger--cross div:nth-child(1) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: crossMenu1;
            animation-name: crossMenu1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #masthead nav .nav__burger.nav__burger--cross div:nth-child(2) {
    -webkit-animation-duration: 0.05s;
            animation-duration: 0.05s;
    -webkit-animation-name: crossMenu2;
            animation-name: crossMenu2;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #masthead nav .nav__burger.nav__burger--cross div:nth-child(3) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: crossMenu3;
            animation-name: crossMenu3;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #masthead nav .nav__burger.nav__burger--burger div:nth-child(1) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: burgerMenu1;
            animation-name: burgerMenu1;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  #masthead nav .nav__burger.nav__burger--burger div:nth-child(2) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: burgerMenu2;
            animation-name: burgerMenu2;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  #masthead nav .nav__burger.nav__burger--burger div:nth-child(3) {
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-name: burgerMenu3;
            animation-name: burgerMenu3;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
}

@-webkit-keyframes showMenu {
  from {
    top: -400px;
  }
  to {
    top: 5.5rem;
  }
}

@keyframes showMenu {
  from {
    top: -400px;
  }
  to {
    top: 5.5rem;
  }
}
@-webkit-keyframes unshowMenu {
  from {
    top: 5.5rem;
  }
  to {
    top: -400px;
  }
}
@keyframes unshowMenu {
  from {
    top: 5.5rem;
  }
  to {
    top: -400px;
  }
}
@-webkit-keyframes crossMenu1 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(45deg) translate(8px, 5px);
  }
}
@keyframes crossMenu1 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(45deg) translate(8px, 5px);
  }
}
@-webkit-keyframes crossMenu2 {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
@keyframes crossMenu2 {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes crossMenu3 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-45deg) translate(9px, -7px);
  }
}
@keyframes crossMenu3 {
  from {
    transform: rotate(0deg) translate(0px, 0px);
  }
  to {
    transform: rotate(-45deg) translate(9px, -7px);
  }
}
@-webkit-keyframes burgerMenu1 {
  from {
    transform: rotate(45deg) translate(8px, 5px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@keyframes burgerMenu1 {
  from {
    transform: rotate(45deg) translate(8px, 5px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@-webkit-keyframes burgerMenu2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes burgerMenu2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@-webkit-keyframes burgerMenu3 {
  from {
    transform: rotate(-45deg) translate(9px, -7px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}
@keyframes burgerMenu3 {
  from {
    transform: rotate(-45deg) translate(9px, -7px);
  }
  to {
    transform: rotate(0deg) translate(0px, 0px);
  }
}/*# sourceMappingURL=header.css.map */