:root{
    // --mainBlue: #2CA4DC;
    --mainBlue: #1a7aa7;
    // --mainRed: #FF421A;
    --mainRed: #d63616;
    --mainRedLight: #FFF3EE;
    --mainGrey: #2C2E35;
}
@font-face {
    font-family: "Koblenz";
    src: url("/assets/fonts/koblenz-serial-light-regular.ttf");
}
html{
    font-size:15px;
    body{
        #page{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height:100vh;
        }
    }
}