#content .col-full #main .product .onsale {
  border: 1px solid var(--mainRed);
  background-color: var(--mainRed);
  color: white;
}
#content .col-full #main .product .summary .cart input {
  background-color: white;
}
#content .col-full #main .product .summary .cart button {
  background-color: var(--mainBlue);
  color: white;
}
#content .col-full #main .product .summary .cart button:hover {
  background-color: var(--mainRed);
}
#content .col-full #main .product .summary .cart button:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#content .col-full #main .product .summary .product_meta a {
  color: var(--mainRed);
}
#content .col-full #main .product .products > h2 {
  color: var(--mainBlue);
  font-weight: bold;
  font-size: 2.2rem;
  text-align: left;
}
#content .col-full #main .woocommerce-tabs {
  display: flex;
  flex-direction: column;
  width: 70rem;
}
#content .col-full #main .woocommerce-tabs .tabs .description_tab a {
  color: var(--mainRed);
}
#content .col-full #main .woocommerce-tabs .tabs .description_tab.active a {
  color: var(--mainGrey);
}
#content .col-full #main .woocommerce-tabs .tabs .reviews_tab a {
  color: var(--mainRed);
}
#content .col-full #main .woocommerce-tabs .tabs .reviews_tab.active a {
  color: var(--mainGrey);
}
#content .col-full #main .woocommerce-tabs .woocommerce-Tabs-panel--reviews #reviews #comments .woocommerce-noreviews {
  background-color: var(--mainBlue);
  color: white;
}
#content .col-full #main .woocommerce-tabs .woocommerce-Tabs-panel--reviews #reviews #comments .comment_container {
  width: 70rem;
}
#content .col-full #main .woocommerce-tabs .woocommerce-Tabs-panel--reviews #reviews #comments .comment_container img {
  margin-right: 1rem;
}
#content .col-full #main .woocommerce-tabs .woocommerce-Tabs-panel--reviews #reviews #comments .comment_container .comment-text {
  float: left;
}
#content .col-full #main .woocommerce-tabs .woocommerce-Tabs-panel--reviews #reviews #review_form_wrapper #respond #commentform textarea {
  background-color: white;
}
#content .col-full #main .woocommerce-tabs .woocommerce-Tabs-panel--reviews #reviews #review_form_wrapper #respond #commentform input {
  background-color: white;
}
#content .col-full #main .woocommerce-tabs .woocommerce-Tabs-panel--reviews #reviews #review_form_wrapper #respond #commentform .form-submit input {
  background-color: var(--mainBlue);
  color: white;
  border-radius: 0;
}
#content .col-full #main .woocommerce-tabs .woocommerce-Tabs-panel--reviews #reviews #review_form_wrapper #respond #commentform .form-submit input:hover {
  background-color: var(--mainRed);
}
#content .col-full #main .woocommerce-tabs .woocommerce-Tabs-panel--reviews #reviews #review_form_wrapper #respond #commentform .form-submit input:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.storefront-sticky-add-to-cart .storefront-sticky-add-to-cart__content .storefront-sticky-add-to-cart__content-product-info .storefront-sticky-add-to-cart__content-title strong {
  color: var(--mainBlue);
}
.storefront-sticky-add-to-cart .storefront-sticky-add-to-cart__content .storefront-sticky-add-to-cart__content-button {
  background-color: var(--mainRed);
  color: white;
}
.storefront-sticky-add-to-cart .storefront-sticky-add-to-cart__content .storefront-sticky-add-to-cart__content-button:hover {
  background-color: var(--mainBlue);
}
.storefront-sticky-add-to-cart .storefront-sticky-add-to-cart__content .storefront-sticky-add-to-cart__content-button:active {
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=product.css.map */