.entry-content{
    .woocommerce-form-coupon-toggle{
        .woocommerce-info{
            background-color: var(--mainBlue);
        }
    }
    .woocommerce-form-coupon{
        input{
            background-color: white;
        }
    }
    .woocommerce-checkout{
        input{
            background-color: white;
        }
        textarea{
            background-color: white;
        }
        #order_review{
            #payment{
                a{
                    color: var(--mainRed);
                }
                .wc_payment_methods{
                    .woocommerce-notice{
                        background-color: var(--mainBlue);
                    }
                }
            }
        }
    }
    // COMMANDE RECUE
    .woocommerce-order{
        .woocommerce-order-details{
            a{
                color: var(--mainRed);
            }
        }
    }
}